<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>


<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="clickSignIn()">Sign In
</button>
<button mat-raised-button
        color="accent"
        class="mt-4 d-block"
        (click)="clickSignOut()">Sign Out
</button>
<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="getAccessToken()">get Access Token
</button>
<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="getClaims()">get Claims
</button>
<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="hasValidAccessToken()">Valid Access Token
</button>
<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="silentRefresh()">silent Refresh
</button>
<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="loadUserProfile()">load User Profile
</button>
<button mat-raised-button
        color="accent"
        class="mt-5 d-block"
        (click)="getAll()">Get Api getAll()
</button>


<div class="claims mt-4">{{claims | json}}</div>