<div>
    <button mat-raised-button
            color="primary"
            (click)="clearState()"
            id='clearState'>Очистить устаревшее состояние
    </button>
    <button mat-raised-button
            color="primary"
            (click)="getUser()"
            id='getUser'>Получить пользователя
    </button>
    <button mat-raised-button
            color="primary"
            (click)="removeUser()"
            id='removeUser'>Удалить пользователя
    </button>
</div>
<div>
    <button mat-raised-button
            color="primary"
            (click)="startSigninMainWindow()"
            id='startSigninMainWindow'>Sign In
    </button>
    <button mat-raised-button
            color="primary"
            (click)="endSigninMainWindow()"
            id='endSigninMainWindow'>Завершить главное окно
    </button>
</div>
<div>
    <button mat-raised-button
            color="primary"
            (click)="startSignoutMainWindow()"
            id='startSignoutMainWindow'>Sign Out
    </button>
    <button mat-raised-button
            color="primary"
            (click)="endSignoutMainWindow()"
            id='endSignoutMainWindow'>Конец подписания главного окна
    </button>
</div>
<div *ngIf="_user">
    <pre>{{_user | json}}</pre>
</div>
